body {
    font-family: 'Arial', sans-serif;
    background-color: #20232a;
    color: #61dafb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #1C6AFF;
    margin-bottom: 20px;
}

.instructions {
    font-size: 2em;
    margin-bottom: 20px;
}

.prediction-interpretation {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator {
    border-top: 2px solid #ddd;
    margin: 30px 0; /* Combined margin-top and margin-bottom */
    width: 100%; /* Ensure full width */
    max-width: 700px; /* Match container width */
    margin-left: auto;
    margin-right: auto; /* Center the separator */
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #1C6AFF;
}

.input-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #20232a;
}

.prediction-container {
    margin-top: 20px;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.additional-info {
    margin-top: 20px;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive design */
@media (max-width: 768px) {
    .title {
        font-size: 2em;
    }

    .instructions, .prediction-interpretation {
        font-size: 1.5em;
    }

    .container {
        padding: 10px;
    }

    .input-container, .prediction-container, .additional-info {
        padding: 10px;
    }
}
