.title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #1C6AFF;
    margin-bottom: 20px;
}

.instructions {
    font-size: 2em;
    margin-bottom: 20px;
}

.prediction-interpretation {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #1C6AFF;
}
