body {
    font-family: 'Arial', sans-serif;
    background-color: #20232a;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #1C6AFF;
    margin-bottom: 20px;
}

.instructions {
    font-size: 2em;
    margin-bottom: 20px;
}

.prediction-interpretation {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator {
    border-top: 2px solid #ddd;
    margin: 15px 0;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #1C6AFF;
}

.input-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #20232a;
}

.prediction-container {
    margin-top: 20px;
    background-color: #282c34;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.additional-info {
    margin-top: 20px;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style for text input fields */
.stTextInput > div > div > input {
    color: #61dafb !important;
    background-color: transparent !important;
    border: 1px solid #232324 !important;
}

/* Style for select boxes */
.stSelectbox > div > div > div {
    color: white !important;
    border: 1px solid #212325 !important;
}

/* Style for the dropdown arrow */
.stSelectbox > div > div > div > div {
    color: #61dafb !important;
}

/* Style for the options in the dropdown */
.stSelectbox > div > div > div[aria-expanded="true"] > div:nth-child(2) {
    background-color: #20232a !important;
    border: 1px solid #1C6AFF !important;
}

/* Style for hover effect on options */
.stSelectbox > div > div > div[aria-expanded="true"] > div:nth-child(2) > div:hover {
    background-color: #1C6AFF !important;
    color: white !important;
}

/* Style for selected option */
.stSelectbox > div > div > div > div[aria-selected="true"] {
    background-color: #1C6AFF !important;
    color: white !important;
}
/* New style for input title */
.input-title {
    color: #1C6AFF;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    .title {
        font-size: 2em;
    }

    .instructions, .prediction-interpretation {
        font-size: 1.5em;
    }

    .container {
        padding: 10px;
    }

    .input-container, .prediction-container, .additional-info {
        padding: 10px;
    }
}